.root{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    @media (max-width: 1000px) {
      width: 100%;
      padding: 0px 10px 0px 20px;
    }
}

.wrapper {
    max-width: 100%;
    margin: 1rem auto 0;

  }

.cstepper {
    display: flex;
    padding:0px 0px 0px 0px;
    justify-content: center;
    
    
  }

.cstepper__item {
  display: flex;
  white-space: nowrap;
  align-items: center;
  font-size: 16px;
  &:not(:last-child) {
    flex: 1;
    &:after {
      content: "";
      position: relative;
      height: 1.5px;
      background-color: #8f8e8e;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }
  }
}

.wayorderhead{
    font-size: 20px;
    font-weight: 700;
    opacity: 85%;
    margin-top: 30px;
}

.wayorder{
    font-size: 16px;
    display: inline-flex;
}
.numberdone{
  color: #fff;
  margin: 5px;
  text-align: center;
  padding: 1.5%;
  width: 30px;
  height: 30px;
  background-color: #316ab1;
  border-radius: 15px;
}

.numberactive{
  color: #fff;
  margin: 5px;
  text-align: center;
  padding: 1.5%;
  width: 30px;
  height: 30px;
  background-color: #898989;
  border-radius: 15px;
}

.numbernonactive{
  color: #000;
  margin: 5px;
  text-align: center;
  padding: 1.5%;
  width: 30px;
  height: 30px;
  border: 1px solid #898989;
  border-radius: 15px;
}

.way{
  height: 100%;
  min-height: 200px;
  margin-bottom: 20px; 
  @media (max-width: 1000px) {
    min-height: 40px;
  } 
}

.city{
  margin: 10px;
  min-width: 40%;
  width: 400px;
  @media (max-width: 1000px) {
    width: 95%;
  }
}
.buttonall{
  display: flex;
  height: 50px;
  width: 100%;
}
.backbutton{
  width: 50%;
  text-align: start;
}
.nextbutton{
  width: 50%;
  text-align: end;
  @media (max-width: 1000px) {
    width: 100%;
    text-align: end;
  }
}


.back{
  border: none;
  text-decoration: underline ;
  text-underline-position: under;
  background-color: #fff;
  font-size: 14px;
  color: #316ab1;
}

.next{
  font-size: 18px;
  border: none;
  border-radius: 8px;
  width:160px;
  height: 40px;
  background-color: #2b90a7c3;
  color: #fff;
  &:hover{
    background-color: #2b90a7;
  }
}

.returninshop{
  font-size: 18px;
  border: none;
  border-radius: 8px;
  width:320px;
  height: 40px;
  background-color: #2b90a7c3;
  color: #fff;
  &:hover{
    background-color: #2b90a7;
  }
  @media (max-width: 1000px) {
    font-size: 18px;
  border: none;
  border-radius: 8px;
  width:320px;
  height: 40px;
  background-color: #2b90a7c3;
  color: #fff;
  &:hover{
    background-color: #2b90a7;
  }
  }
}

.nextdisabled{
  font-size: 18px;
  border: none;
  border-radius: 8px;
  width:160px;
  height: 40px;
  background-color: #a4a4a4;
  color: #fff;
}

.deliverybox{
  min-width: 100%;
  height: 80px;
  display: flex;
}

.deliveryimg{
  width: 120px;
  height: 80px;
  margin: 0px 20px 0px 10px;
  padding: 5px 0px 5px 0px;
  object-fit:contain;
  @media (max-width: 1000px) {
    width: 80px;
    height: 80px;
    margin: 0px 20px 0px 10px;
    padding: 5px 0px 5px 0px;
    object-fit:contain;
  }
}

.divdescript{
  display: grid;
  text-align: left;
}
.namedelivery{
  padding-top: 10px;
  font-style: italic ;
  font-weight: 600;
  color: #515050;
  height: 10px;
  @media (max-width: 1000px) {
    padding-top: 10px;
    font-style: italic ;
    font-size: 14px;
    font-weight: 600;
    color: #515050;
    height: 35px;
  }
}

.namedeliverym{
  padding-top: 10px;
  font-style: italic ;
  font-size: 14px;
  font-weight: 600;
  color: #515050;
  height: 35px;
}

.descript{
  font-size: 14px;
  letter-spacing: 0px;
  &:after{
    content:  "\20BD";
  }
}

.buttondeliver{
  border: none;
  border-bottom: 1px solid #3d3d3d38;
  background-color: #fff;
  width: 100%;
  display: flex;
  &:hover{
    background-color: #316bb11e;
  }
}

.buttondeliveractive{
  border: 1px solid #316bb14f;
  border-radius: 8px;
  background-color: #316bb14f;
  width: 100%;
  display: flex;
  &:hover{
    background-color: #316bb11e;
  }
}

.customerdiv{
  display: inline-flex;
  @media (max-width: 1000px) {
    display: block;
  }
}

.selfingo{
  min-width: 50%;
  max-width: 100%;
  margin-top: 20px;
  @media (max-width: 1000px) {
    display: block;
  }
}


.customerfield{
  margin: 10px 0px 10px 0px;
  min-width: 95%;
  width: 400px;
  @media (max-width: 1000px) {
    width: 95%;
  }
}

.customerfieldadd{
  margin: 10px 0px 10px 0px;
  min-width: 95%;
  width: 400px;
  float: left;
  @media (max-width: 1000px) {
    width: 95%;
  }
}





.descriptpayment{
  font-size: 14px;
  min-width: 200px;
}
.discountpay{
  font-size: 14px;
  letter-spacing: 0px;
  max-width: 50px;
  font-weight: bold;
  color:#fff;
  background-color: #2b90a7;
}
.mainorder{
  width: 100%;
  height: 90px;
  display: flex;
  border-bottom: 1px dashed #00000044;
}
.imagekda{
    width: 55%;
    height: 80px;
    align-items: center;
    margin: 0px 10px 0px 10px;
    display:flex;
    object-fit:contain;
}

.infoorder{
  align-items: center;
  vertical-align: middle;
  height: 100%;
  display: flex;
  vertical-align: top;
  width: 70%;
}
.detailmainorder{
  display: flex;
  width:100%
}
.productlist{
  width: 70%;
  display: grid;
  @media (max-width: 1000px) {
    width: 50%;
    display: grid;
  }
}

.productlistcheckout{
  min-width: 100%;
  display: grid;
}
.nameorder{
  font-weight: 400;
  font-size: 18px;
  @media (max-width: 1000px) {
    font-size: 14px;
  }
}


.priceorder{
  
  width: 25%;
  align-items: center;
  vertical-align: middle;
  display: grid;
  vertical-align: top;
 
}
.totalpriceorder{
  display: flex;
  font-weight: 700;
  &:after{
    content:  "\20BD";
    font-weight: 700;
    padding-left: 2px;
}
@media (max-width: 1000px) {
  display: flex;
  font-weight: 700;
  font-size: 12px;
}
}

.calculorder{
  display: flex;
  font-size: 12px;
  white-space: nowrap;
  &:after{
    content:  "\20BD";
    font-size: 12px;
    padding-left: 2px;
}
@media (max-width: 1000px) {
  display: flex;
  font-size: 10px;
  white-space: nowrap;
  &:after{
    content:  "\20BD";
    font-size: 10px;
}
}
}


.ts{
  display: flex;
}
.totalsumcnt{
  width: 30%;
  height: 90px;
  @media (max-width: 1000px) {
    width: 50%;
    height: 90px;
  }
}

.descripttotal{
  font-size: 14px;
  height: 24px;
  width: 60%;
  font-weight: bold;
  color:#00000073;
  text-align: right;
  padding-top: 5px;
}


.costdel{
  font-size: 14px;
  height: 24px;
  width: 40%;
  font-weight: bold;
  color:#000000;
  text-align: left;
  padding: 5px 0px 0px 10px;  
}


.costdelcost{
  font-size: 14px;
  height: 24px;
  width: 40%;
  font-weight: bold;
  color:#000000;
  text-align: left;
  padding: 5px 0px 0px 10px;
  &:after{
    content: "\20BD";
    font-size: 14px;
}
}
.totalpay{
  font-size: 20px;
  height: 24px;
  width: 40%;
  font-weight: bold;
  color: #2b90a7;
  text-align: left;
  padding: 2px 0px 0px 10px;
  &:after{
    content: "\20BD";
    font-size: 20px;
}
@media (max-width: 1000px) {
  font-size: 18px;
  height: 24px;
  width: 40%;
  font-weight: bold;
  color: #2b90a7;
  text-align: left;
  padding: 2px 0px 0px 10px;
  &:after{
    content: "\20BD";
    font-size: 18px;
}
}
}



.endsumorder{
  color:#30374c;
  min-width: 100%;
  font-weight: 700;
  &:after{
    content:  "\20BD";
    font-weight: 700;
    padding-left: 2px;
  }
}

.h7mobile{
  @media (max-width: 1000px) {
    display: none;
  }
}