.root{
    background-color: #30374c;
    height: 60px;   
    line-height: 60px;
}

@media screen and (min-width: 1200px)  {
.cartroot {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
}

.cart{
    a{
        text-decoration: none;
    }
}
.cstyle{
    color: #ffffff ;
    vertical-align: middle;

}

.info{
    margin-left: 10px;
    
    color: #fff;
    font-size: 16px;
    display: inline-flex;
    border-bottom: dashed 1px white;
    padding-bottom: 1px;
}

.cnt{

    margin-left: 5px;
    margin-right: 5px; 
    font-weight: 700; 
    font-size: 16px;

}

.sum{

    margin-left: 5px;
    margin-right: 5px; 
    font-weight: 700; 
    font-size: 16px;
    &:after{
        content:  "\20BD";
        font-weight: 700;
        padding-left: 2px;
    }
}

