.root{
    display:flex;
    margin-top:10 px;
    padding-bottom:20 px;
    margin-right: 20 px;
    margin-left:17 px;
}

.avatar{
    margin-right:15 px;
}

.form {
    width: 100%;
    button{
        margin-top:  10px;;
    }
}

.newcomment{
    color: #000;
    opacity: 0.4;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0.15px;
    border-radius: 5px;
    padding: 0 10px;
    text-decoration: none;
    border-style: solid;
    &:hover{
        color: #fff;
        background-color: #000;
        opacity: 0.8;  
    }
}