.root{
    display:flex;
    margin-top:10 px;
    padding-bottom:20 px;
    margin-right: 20 px;
    margin-left:17 px;
}

.avatar{
    margin-right:15 px;
}

.form {
    width: 100%;
    button{
        margin-top:  10px;;
    }
}

