
.rootgrid{
    --Grid-columns: 12;
    --Grid-columnSpacing: 8px;
    --Grid-rowSpacing: 8px;
    flex-direction: row-reverse;
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    min-height: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    margin: calc(var(--Grid-rowSpacing) / -2) calc(var(--Grid-columnSpacing) / -2);
    padding: 0;

}

.productgrid{
    flex-flow: wrap;
    display: flex;
    width: calc(100% * 9 / var(--Grid-columns) + var(--Grid-columnSpacing));
    padding: 0px 0px 0px 20px;
    height: 100%;
    margin: calc(var(--Grid-rowSpacing) / -2) calc(var(--Grid-columnSpacing) / -2);
    @media (max-width: 800px) {
        width: 100%;
    }
}

.typesblockgrid{
    display: block;
    width: calc(100% * 3 / var(--Grid-columns) + var(--Grid-columnSpacing));
    margin: calc(var(--Grid-rowSpacing) / -2) calc(var(--Grid-columnSpacing) / -2);
    @media (max-width: 800px) {
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center; 
    }
}

.mainpopup{
    position: absolute;
    width: 1200px;
    height: 1200px;
    background-color: #00000028;
    top: 350px;
    left:350px;
}

.popup{
    margin: 150px 300px;
    width: 600px;
    height: 400px;
    border: 2px solid #2b91a7;
    border-radius: 10px;
    background-color: #fff;
    line-height: 200px;
    text-align: center;
    
}

.poptext{
    display: block;
    height: 260px;
    width: 60%;
    line-height: 60px;
    margin-left: 10px;
    font-size: 28px;
    margin-top: 20px;
    position: relative;
    
}

.buttonclose{
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: relative;
}

.buttonsubmit{
    height: 50px;
    width: 55%;
    font-size: 24px;
    background-color: #2b90a7b6;
    border: none;
    border-radius: 15px;
    color: #fff;
    transition: background-color 0.5s linear;
    &:hover{
        background-color: #2b90a7;
    }
}

.imgbg{
    position: absolute;
    display: flex;
    width: 596px;
    height: 396px;
    top: 152px;
    left: 302px;
    border-radius: 10px;
    opacity: 0.2;
}

.imggirl{
    position: absolute;
    display: flex;
    top: 148px;
    left: 345px;
    opacity: 0.7;
}

.btext{
    font-size: 40px;
    color: rgb(0, 0, 0);
}