
.rootgrid{
    --Grid-columns: 12;
    --Grid-columnSpacing: 8px;
    --Grid-rowSpacing: 8px;
    flex-direction: row-reverse;
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    min-height: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    margin: calc(var(--Grid-rowSpacing) / -2) calc(var(--Grid-columnSpacing) / -2);
    padding: 0;

}

.productgrid{
    flex-flow: wrap;
    display: flex;
    width: calc(100% * 9 / var(--Grid-columns) + var(--Grid-columnSpacing));
    padding: 0px 0px 0px 20px;
    height: 100%;
    margin: calc(var(--Grid-rowSpacing) / -2) calc(var(--Grid-columnSpacing) / -2);
    @media (max-width: 800px) {
        width: 100%;
    }
}

.typesblockgrid{
    display: block;
    width: calc(100% * 3 / var(--Grid-columns) + var(--Grid-columnSpacing));
    margin: calc(var(--Grid-rowSpacing) / -2) calc(var(--Grid-columnSpacing) / -2);
    @media (max-width: 800px) {
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center; 
    }
}