.root{
    background-color: #30374c;
    padding: 0 auto;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 30px;
    height: 60px;   
}

.buttons{
    display: flex;
    justify-content: space-evenly;

    a{
        text-decoration: none;
    }
}

.newpost{
    color: #ffffff;
    height: 60px;
    vertical-align: middle;
    opacity: 0.6;
    &:hover{
        opacity: 1;  
    }
}
.icon{
    width:20px;
    height:20px;
    padding-right:3px;
}