.root{
    background-color: #30374c;
    padding: 0 auto;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 30px;
    height: 60px;   
}

.rootmobile{
    background-color: #30374c;
    padding: 0 auto;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 30px;
    height: 60px;
    width: 100%;
    display: inline-block;   
}

.buttons{
    display: flex;
    justify-content: space-evenly;

    a{
        text-decoration: none;
    }
}


.newpost{
    color: #ffffff;
    height: 60px;
    vertical-align: middle;
    opacity: 0.6;
    &:hover{
        opacity: 1;  
    }
}


.icon{
    width:20px;
    height:20px;
    padding-right:3px;
}

.iconmobile{
    height: 100%;
    width: 60px;
    background-color: #30374c;
    color: #ffffff;
    border: none;
    font-size: 30px;
}

.textheadmobile{
    font-size: 30px;
    color: #ffffff;
    text-align: left;
    width: 65%;
    display: inline-block;
} 

.cart{
    color: #ffffff;
    width: 10%;
    height: 60px;
    vertical-align: top;
    text-align: right;
} 
.countitems{
    color: #000;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    margin-left: -5px;
    text-align: center;
    vertical-align: top;
    background-color: #fff;
    position: absolute;
}
.ulmobile{
    list-style-type:none;
    margin: 0px 0px 40px 0px;
    padding: 0;
    
}

 .limobile{
    color: #000;
    height: 70px;
    display: block;
    line-height: 70px;
    font-size: 20px;
    padding-left: 5%;
    border-bottom: 1px solid #b4b4b484;
    &:hover{
        background-color: #c4dedd; 
    }

 }

 .typemobilet{
    color: #000000;
    height: 70px;
    background: transparent;
    border: 0px;
}

