.root {
    background-color: #30374c;
    padding: 0 auto;
    border-bottom: 1px solid #e0e0e0;
    height: 60px;
    margin-bottom: 30px;
  @media (max-width: 800px) {
    min-height: 60px;
    width: 100%; 
    height: 100%;
    display: block;
    margin-bottom: 0px;
  }
}

.rootmobile{
  display: none;
  @media (max-width: 800px) {
    display: flex;
  }
}

.buttons {
  display: flex;
  justify-content: space-evenly;
    a{
      text-decoration: none;
  }
  @media (max-width: 800px) {
    display: none;
  }
}

.newpost {
    color: #ffffff;
    height: 60px;
    vertical-align: middle;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  
  }
  
.icon {
  width: 20px;
  height: 20px;
  padding-right: 3px;

}
.iconmobile{
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  background-color: #30374c;
  color: #ffffff;
  line-height: 59px;
  border: none;
  font-size: 36px;
  width: 20%;
}

.onepill{  
  display: flex;
  justify-content: space-evenly;
  font-size: 36px;
  background: linear-gradient(to right, #316ab1 20%, #7EB5C2 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  line-height: 60px;
  text-decoration: none;
  width: 60%;
}

