.maininfo{
    margin: 10px 10px 10px 10px;
}

.totaltitle{
    font-size: 12px;
    font-weight: 900;
    opacity: 60%;
    letter-spacing: 0px;
}

.infototal{
    display: inline-flex;
}

.pricetotal{
    font-size: 36px;
    font-weight: 700;
    color: #2b91a7;
    margin: 5px 0 5px 0;
    vertical-align: middle;
    margin-bottom: 25px;
}
.pricetotal:after{
    content: "\20BD";
    font-weight: 700;
}
 .undertotal{
    position: absolute;
    margin-top: 45px;
    font-size: 12px;
    text-align: center;
    width: 90px;
    opacity: 60%;
    
 }

 .infoabcart{
    margin: 10px 10px 10px 10px;
    border: solid 1px #2b91a7;
    height: 90px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 12px;
    width: 270px;
    min-width: 270px;
    background-color:#2b90a734 ;

 }
 .buttonbuy{
    width: 270px;
    border: 0px ;
    margin-top: 10px;
    font-size: 25px;
    background-color:#2b91a7;
    border-radius: 5px;
    color: #fff;
    height: 50px;
    @media (max-width: 800px) {
        width: 100%;
    }
 }
 .oneclick{
    width: 270px;
    border: 0px ;
    margin-top: 10px;
    font-size: 25px;
    background-color:#316ab1;
    border-radius: 5px;
    color: #fff;
    height: 50px;
    @media (max-width: 800px) {
        width: 100%;
    }
 }

 .makeorder{
    width: 270px;
    border: 0px ;
    margin-top: 10px;
    font-size: 20px;
    background-color:#316ab1;
    border-radius: 5px;
    color: #fff;
 }


 .maininfomobile{
    margin: 10px 10px 0px 10px;
    width: 100%;
    text-align: center;
}

.infototalmob{
    display: inline-flex;
    height: 70px;
    width: 30%;
}

.totaltitlemob{
    font-size: 12px;
    font-weight: 900;
    width: 100%;
    opacity: 60%;
    letter-spacing: 0px;
    text-align: left;
    margin: 20px 10px 0px 10px;
}

.pricetotalmobile{
    font-size: 30px;
    color: #2b91a7;
    margin-bottom: 25px;
    &:after{
        content: "\20BD";
        font-weight: 700;
    }
}
.undertotalmobile{
    position: absolute;
    margin-top: 35px;
    font-size: 12px;
    text-align: left;
    // width: 80px;
    opacity: 60%;
 }
.divtablecell{
    display: inline-flex;
}
 .infoabcartmobile{
    margin: 0px 10px 0px 10px;
    border: solid 1px #2b91a7;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 12px;
    min-width: 200px;
    max-width: 220px;
    background-color:#2b90a734 ;
 }

