.rootgrid{
    flex-direction: row-reverse;
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    align-items: flex-start;
    @media (max-width: 800px) {
        flex-direction: row;
        display: block;
    }
}

.productgrid{
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    margin: 0px 0px 0px 10px;
    justify-content: space-between;
    flex-basis: 70%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    width: 70%;
    order:2;
    @media (max-width: 800px) {
    width: 100%;
    order:1;
    display: block;
    }
}

.typesblockgrid{
    order:1;
    flex-basis: 25%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    width: 25%;
    @media (max-width: 800px) {
        width: 100%;
        order: 2;
        display: block;
        }
}

.postgrid{
    box-sizing: border-box;
    margin: 20px 0px 0px 20px;
    flex-direction: row;
    flex-basis: 25%;
    flex-grow: 0;
    max-width: 25%;
    @media (max-width: 800px) {
        width: 100%;
        }
}

.activepage{
    background-color: #316ab1;
    color: white;
    border: none;
    border-radius: 17px;
    width: 35px;
    height: 35px;
}

.page{

    border: none;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 17px;
    &:hover{
        background-color: #316bb162;
    }
}

.butnext{

    border: none;
    background-color: #fff;
    width: 100px;
    height: 35px;
    border-radius: 17px;
    &:hover{
        background-color: #316bb162;
    }
}

.activepagemobile{
    background-color: #316ab1;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 0 1em 0 1em;
    width: 20%;
    height: 20%;
}

.pagemobile{
    // border: 1px solid #316bb162;
    border: none;
    background-color: #fff;
    margin: 0 1em 0 1em;
    width: 20%;
    border-radius: 8px;
    height: 20%;
    &:hover{
        background-color: #316bb162;
    }
}

.rootmobile{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}