:root {
    // --circle-size: clamp(1.5rem, 5vw, 3rem);
    --spacing: clamp(0.25rem, 2vw, 0.5rem);
  }
.root{
    height: 150px;
    margin-top: 20px;
    
}

.name{
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    height: 100%;
}

.head{
    font-size:60px; 
    font-family:"Arial Black";
    vertical-align: top;
    line-height:1.0;
    font-weight:700;
	background: linear-gradient(to right, #316ab1 20%, #7EB5C2 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.subhead{
    font-size:16px; 
    font-family:"Arial";
    color:#30374c;
    vertical-align: bottom;
    text-align: center;
    opacity: 80%;
    }


.checksum{
    display: flex;
    font-size:24px; 
    color:#30374c;
    text-align:right;
    min-width: 100%;
    min-height:80px;
    font-weight: 700;
    justify-content: right;
    align-items: center;
    margin:0 auto;
}

.checksum:after{
    content:  "\20BD";
    font-weight: 700;
    padding-left: 2px;
}

.wayorderhead{
    font-size: 20px;
    font-weight: 700;
    opacity: 85%;
}

.wayorder{
    font-size: 16px;
    display: inline-flex;
}

.wrapper {
    max-width: 100%;
    margin: 1rem auto 0;
  }

.cstepper {
    display: flex;
    padding:0px 0px 0px 0px;
    justify-content: center;
    
  }

.cstepper__item {
  display: flex;
  white-space: nowrap;
  align-items: center;
  font-size: 16px;
  &:not(:last-child) {
    flex: 1;
    

    &:after {
      content: "";
      position: relative;
      height: 1.5px;
      background-color: #8f8e8e;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }
  }
}

.numberdone{
  color: #fff;
  margin: 5px;
  text-align: center;
  padding: 1.5%;
  width: 30px;
  height: 30px;
  background-color: #316ab1;
  border-radius: 15px;
}

.numberactive{
  color: #fff;
  margin: 5px;
  text-align: center;
  padding: 1.5%;
  width: 30px;
  height: 30px;
  background-color: #898989;
  border-radius: 15px;
}

.numbernonactive{
  color: #000;
  margin: 5px;
  text-align: center;
  padding: 1.5%;
  width: 30px;
  height: 30px;
  border: 1px solid #898989;
  border-radius: 15px;
}

.way{
  height: 100%;
  min-height: 200px;
  margin-bottom: 20px;
  
}

.city{
  margin: 10px;
  min-width: 40%;
}
.buttonall{
  display: flex;
  height: 50px;
}
.backbutton{
  width: 50%;
  text-align: start;
}
.nextbutton{
  width: 50%;
  text-align: end;
}
.back{
  border: none;
  text-decoration: underline ;
  text-underline-position: under;
  background-color: #fff;
  font-size: 14px;
  color: #316ab1;
}

.next{
  font-size: 18px;
  border: none;
  border-radius: 8px;
  width:160px;
  height: 40px;
  background-color: #2b90a7c3;
  color: #fff;
  &:hover{
    background-color: #2b90a7;
  }
}

.nextdisabled{
  font-size: 18px;
  border: none;
  border-radius: 8px;
  width:160px;
  height: 40px;
  background-color: #a4a4a4;
  color: #fff;
}

.deliverybox{
  min-width: 100%;
  height: 80px;
  display: flex;
}

.deliveryimg{
  width: 120px;
  height: 80px;
  margin: 0px 20px 0px 10px;
  padding: 5px 0px 5px 0px;
  object-fit:contain;
}
.divdescript{
  display: grid;
  text-align: left;
}
.namedelivery{
  padding-top: 10px;
  font-style: italic ;
  font-weight: 600;
  color: #515050;
  height: 10px;
}
.descript{
  font-size: 14px;
  letter-spacing: 0px;
  &:after{
    content:  "\20BD";
  }
}

.buttondeliver{
  border: none;
  border-bottom: 1px solid #3d3d3d38;
  background-color: #fff;
  width: 100%;
  display: flex;
  &:hover{
    background-color: #316bb11e;
  }
}

.buttondeliveractive{
  border: 1px solid #316bb14f;
  border-radius: 8px;
  background-color: #316bb14f;
  width: 100%;
  display: flex;
  &:hover{
    background-color: #316bb11e;
  }
}


.customerfield{
  margin: 10px 0px 10px 0px;
  min-width: 95%;
}

.customerfieldadd{
  margin: 10px 0px 10px 0px;
  min-width: 95%;
  float: right;
}

.selfingo{
  min-width: 50%;
  max-width: 50%;
  margin-top: 20px;
}

.customerdiv{
  display: inline-flex;
}

.descriptpayment{
  font-size: 14px;
  letter-spacing: 0px;
}