:root {
    // --circle-size: clamp(1.5rem, 5vw, 3rem);
    --spacing: clamp(0.25rem, 2vw, 0.5rem);
  }
.root{
    height: 150px;
    margin-top: 20px;
    
}

.name{
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    height: 100%;
}

.head{
    font-size:60px; 
    font-family:"Arial Black";
    vertical-align: top;
    line-height:1.0;
    font-weight:700;
	background: linear-gradient(to right, #316ab1 20%, #7EB5C2 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.subhead{
    font-size:16px; 
    font-family:"Arial";
    color:#30374c;
    vertical-align: bottom;
    text-align: center;
    opacity: 80%;
    }


.checksum{
    display: flex;
    font-size:24px; 
    color:#30374c;
    text-align:right;
    min-width: 100%;
    min-height:80px;
    font-weight: 700;
    justify-content: right;
    align-items: center;
    margin:0 auto;
}

.checksum:after{
    content:  "\20BD";
    font-weight: 700;
    padding-left: 2px;
}

.wayorderhead{
    font-size: 20px;
    font-weight: 700;
    opacity: 85%;
}

.wayorder{
    font-size: 16px;
    display: inline-flex;
    // padding: 0px 0px 0px 10px;
    // margin-left: 10px;
    // width: 18%;
    // min-height: 30px;
    // vertical-align: middle;
    // justify-content: center;
    // align-content: center;
    // border: 1px solid #316ab1;
    // background-color: #316ab1;
    // color: #fff;
}

.wrapper {
    max-width: 100%;
    margin: 1rem auto 0;
  }

.cstepper {
    display: flex;
    padding:0px 0px 0px 0px;
    justify-content: center;
    
  }

.cstepper__item {
  display: flex;
  white-space: nowrap;
  align-items: center;
  font-size: 16px;
  &:not(:last-child) {
    flex: 1;
    

    &:after {
      content: "";
      position: relative;
      height: 1.5px;
      background-color: #8f8e8e;
      // flex: 1;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }
  }
}

.numberdone{
  color: #fff;
  margin: 5px;
  text-align: center;
  padding: 1.5%;
  width: 30px;
  height: 30px;
  background-color: #316ab1;
  // border: 1px solid ;
  border-radius: 15px;
}

.numberactive{
  color: #fff;
  margin: 5px;
  text-align: center;
  padding: 1.5%;
  width: 30px;
  height: 30px;
  background-color: #898989;
  // border: 1px solid ;
  border-radius: 15px;
}

.numbernonactive{
  color: #000;
  margin: 5px;
  text-align: center;
  padding: 1.5%;
  width: 30px;
  height: 30px;
  // background-color: #898989;
  border: 1px solid #898989;
  border-radius: 15px;
}

.way{
  height: 400px;
  min-height: 100%;
}

.city{
  margin: 10px;
  min-width: 40%;
}
